Package: auto-commit-msg
Version: 1.0.0
Section: utils
Priority: optional
Architecture: all
Depends: openssl, curl, jq
Maintainer: Ricardo Malnati ricardomalnati@gmail.com
Description: Auto Commit Msg is a utility for generating semantic commit messages.
